pandas
matplotlib
seaborn
SQLAlchemy
typing_extensions
pydantic
langchain-core
langgraph
pymysql
fastapi
streamlit
langchain_community
python-dotenv
pytest
langchain 
sentence-transformers
pinecone
langchain-huggingface
pypdf
docx2txt
pinecone-client==5.0.1
tiktoken
uvicorn
langchain_groq
werkzeug
python-multipart